NET "clk" LOC = "AG18"; # CLK

# Audio
NET "AUD_BIT_CLK" LOC = "AH17"; #
NET "AUD_SDI" LOC = "AE18"; #
NET "AUD_SDO" LOC = "AG20"; #
NET "AUD_SYNC" LOC = "J9"; #
NET "AUD_RESET" LOC = "E12"; #
NET "AUD_reset_btn" LOC = "E6"; #


#LCD
NET "LCD_RS" LOC = "V7"; # 
NET "LCD_RW" LOC = "W6"; # 
NET "LCD_E" LOC = "AA5"; # 
NET "LCD_reset_btn" LOC = "K19"; #
NET "LCD_clear_btn" LOC = "G6"; # BTN0 
NET "to_LCD[0]" LOC = "Y8"; # DB0
NET "to_LCD[1]" LOC = "AB7"; # DB1
NET "to_LCD[2]" LOC = "AB5"; # DB2
NET "to_LCD[3]" LOC = "AC4"; # DB3
NET "to_LCD[4]" LOC = "AB6"; # DB4
NET "to_LCD[5]" LOC = "AC5"; # DB5
NET "to_LCD[6]" LOC = "AC7"; # DB6
NET "to_LCD[7]" LOC = "AD7"; # DB7