//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 08 02:09:22 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "AG18" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "AA5" LEVEL 1;
COMP "LCD_reset_btn" LOCATE = SITE "K19" LEVEL 1;
COMP "AUD_reset_btn" LOCATE = SITE "E6" LEVEL 1;
COMP "to_LCD<0>" LOCATE = SITE "Y8" LEVEL 1;
COMP "to_LCD<1>" LOCATE = SITE "AB7" LEVEL 1;
COMP "to_LCD<2>" LOCATE = SITE "AB5" LEVEL 1;
COMP "to_LCD<3>" LOCATE = SITE "AC4" LEVEL 1;
COMP "to_LCD<4>" LOCATE = SITE "AB6" LEVEL 1;
COMP "to_LCD<5>" LOCATE = SITE "AC5" LEVEL 1;
COMP "to_LCD<6>" LOCATE = SITE "AC7" LEVEL 1;
COMP "to_LCD<7>" LOCATE = SITE "AD7" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "V7" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "W6" LEVEL 1;
COMP "AUD_RESET" LOCATE = SITE "E12" LEVEL 1;
COMP "LCD_clear_btn" LOCATE = SITE "G6" LEVEL 1;
COMP "AUD_SYNC" LOCATE = SITE "J9" LEVEL 1;
COMP "AUD_BIT_CLK" LOCATE = SITE "AH17" LEVEL 1;
COMP "AUD_SDI" LOCATE = SITE "AE18" LEVEL 1;
COMP "AUD_SDO" LOCATE = SITE "AG20" LEVEL 1;
SCHEMATIC END;

